body {
    font-family: "Ubuntu", sans-serif;
    background-color: #f6f6f6;
    margin: 0; /* Adicionado para remover margens padrão */
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.no-scroll {
    overflow: hidden;
}

#header {
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed; /* Alterado para posição fixa para que o cabeçalho permaneça fixo na parte superior */
    background-color: #f6f6f6;
    border-bottom: 1px solid rgb(162, 162, 162);
    z-index: 1000; /* Adicionado z-index para garantir que o cabeçalho esteja acima de outros elementos */
}
#logo {
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
}
#user {
    float: right;
    display: -webkit-inline-flex;
    padding-right: 20px;
    margin-top: -30px;
}

#user a {
    color: blue;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px; /* Adicionado margem para separar o texto do link */
}

#user p {
    font-size: 14px;
    margin: 0; /* Adicionado para remover margens padrão */
}

#content {
    font-family: "Ubuntu", sans-serif;
    padding: 50px 150px 0 150px;
    display: flex; /* Adiciona o display flex aqui */
}

#tags_filter {
    border-bottom: 1px solid rgb(179, 179, 179);
    margin-right: 60px;
}

form {
    max-width: 600px;
    background-color: #f6f6f6;
}

input[type="text"] {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    padding: 10px;
    padding-left: 0;
    border: 0px;
    font-size: 24px;
    outline: none;
    min-width: 740px;
    background-color: #f6f6f6;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#user_fav_container {
    padding-top: 40px;
    flex: 1; /* Flex-grow para ocupar o espaço disponível */
}

#user_fav {
    min-width: 800px;
    list-style: none;
    padding: 0;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex: 1; /* Flex-grow para ocupar o espaço disponível */
}

#news_update {
    padding-top: 40px;
    display: block;
    border-left: 1px solid rgb(179, 179, 179);
    flex: 1; /* Flex-grow para ocupar o espaço disponível */
}

#news_content {
    padding-left: 40px;
}


.news_news h1{
    padding-top: 20px;
}

.news_url {
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    opacity: 70%;
}

.item_fav {
    height: 80px;
    width: 80px;
    display: flex;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    align-items: center;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7;
}

.item_fav a {
    padding-top: 0;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    height: 100%;
    width: 100%;
}

.truncate {
    vertical-align: top;
    margin-top: -10px;
    display: inline-block; /* Garante que o link se comporte como um bloco inline */
    width: 80px;
    text-align: center; /* Alinha o texto ao centro */
    text-decoration: none; /* Remove o sublinhado padrão do link */
    overflow: hidden; /* Esconde o conteúdo que excede as duas linhas */
}

.truncate div {
    font-size: 13px;
    display: -webkit-box; /* Permite controle de layout usando caixas flexíveis */
    -webkit-line-clamp: 2; /* Limita o texto a duas linhas */
    -webkit-box-orient: vertical; /* Orientação vertical das linhas */
    overflow: hidden; /* Esconde o conteúdo que excede as duas linhas */
    text-overflow: ellipsis; /* Adiciona reticências ao texto truncado */
    max-height: 2.5em; /* Altura máxima para duas linhas de texto */
    line-height: 1.25em; /* Altura da linha */
}

.item_fav button {
    margin-top: 10px; /* Adicionado para alinhar o botão verticalmente */
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4285f4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-button:hover {
    background-color: #357ae8;
}

#iframe_container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 88%;
    max-width: 768px;
    margin-top: 20px;
    border-radius: 10px;
    z-index: 1000; 
}

#site_iframe {
    width: 100%;
    height: 95%;
    padding-top: 40px;
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 10px;
}

#iframeBackground {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    display:none;
    background-color: white;
    opacity: 100%;
    transition: transform .25s cubic-bezier(.19,1,.22,1);
    background: var(--color-banner);
    -webkit-backdrop-filter: blur(70px);
}

#menu_iframe {
    z-index: 999;
    height: 40px;
    position: absolute;
    border-bottom: 1px solid rgb(162, 162, 162);
    width: 100%;
}

.options_menu {
    font-size: 18px;
    display: block;
    opacity: 70%;
}

.bookmark {
    padding-left: 20px;
    display: flex;
    float: left;
}

.bookmark-icon {
    width: 0px;
    height: 10px;
    border: 12px solid rgb(170, 170, 170);
    border-bottom: 12px solid white;
    border-radius: 0px 0px 1px 1px;
    cursor: pointer;
}

.bookmark-icon:hover {
    border: 12px solid rgb(0, 188, 113);
    border-bottom: 12px solid white;
}

.resize_close_iframe {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}

.nav_menu {
    display: block;
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

@media only screen and (max-width: 768px) {
    #content {
        padding: 60px 20px 0 20px;
    }
}