<!DOCTYPE html>
<html lang="pt-br">
<head>

    
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <div id="header">
        <div id="user">
            <p>Bem-vindo, {{ name }}</p>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div id="content">
        <h1>Dashboard</h1>
                
        <h2>Notícias Recomendadas</h2>
        <ul>
            {% for item in urls %}
                <li>User ID: {{ item.user_id }}, URL: <a href="{{ item.url }}" onclick="updateRate('{{ item.user_id }}', '{{ item.url }}')">{{ item.url }}</a>
                    <button onclick="toggleFavorite('{{ item.user_id }}', '{{ item.url }}')">Favorito</button>, Rate: <span id="rate_{{ item.url }}">{{ item.rate }}</span>
                </li>
            {% endfor %}
        </ul>
        
        
        <script>
            function toggleFavorite(user_id, url) {
                var rateElement = document.getElementById('rate_' + url);
                var currentRate = parseInt(rateElement.innerText);
                var newRate = currentRate === 0 ? 1 : 0;
        
                // Atualiza a exibição do rate imediatamente
                rateElement.innerText = newRate;
        
                // Envia uma requisição POST para atualizar o rate no servidor
                fetch('/update_rate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        user_id: user_id,
                        url: url,
                        rate: newRate
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro ao atualizar o rate');
                    }
                    return response.text();
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error('Erro:', error);
                    // Reverte a exibição do rate se ocorrer um erro
                    rateElement.innerText = currentRate;
                });
            }
        </script>
        
        
                
    </div>
    
    
</body>
</html>
